
<div id="section2">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="carousel-caption">
          <h3>Cars</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
        <img id = "dogs"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvRlRhGlXu4bqZTywmv2Ss3p0HLVYlt7qBsQsh7zin9L_ssok9" alt="Chania">
      </div>

      <div class="item">
        <div class="carousel-caption">
          <h3>Lord of the Rings 2</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
        <img id = "dogs" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSahZjwNvKf4PZrVyViFZw7L6lAM9rtCiubHQMkzGPWEQRpk8fpfg" alt="Chania">
      </div>

      <div class="item">
        <div class="carousel-caption">
          <h3>Third Picture</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
        <img id = "dogs" src="http://images1.fanpop.com/images/image_uploads/Die-Hard-die-hard-812118_1024_768.jpg" alt="Flower">
      </div>

      <div class="item">
        <div class="carousel-caption">
          <h3>Fourth Picture</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div>
        <img id = "dogs" src="http://www.zz-modern.com/upfiles/carousel-cs16z06cs16z062-main.jpg" alt="Flower">
      </div>
    </div>

    <!-- Left and right controls -->

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>